<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Homepage - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="./assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });


    </script>
    <!-- Dashboard Core -->
    <link href="./assets/css/dashboard.css" rel="stylesheet"/>
    <script src="./assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <script src="./assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="./assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
    <script src="./assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="./assets/plugins/input-mask/plugin.js"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="./index.html">
                        <img src="./demo/brand/company.png" class="header-brand-img" alt="tabler logo">Society Manager
                    </a>

                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="./home" class="nav-link"><i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="./login" class="nav-link "><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="./register" class="nav-link  active"><i class="fa fa-address-book"></i>
                                    Register</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
            <div class="row">
              <div class="col-12">
                <form action="./register_members" method="post" class="card">
                  <div class="card-header">
                    <h3 class="card-title">Society Information</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="form-group">
                          <label class="form-label">Society Name</label>
                          <input class="form-control" disabled name="example-text-input" placeholder="Society Name..." type="text">
                               <br><label class="form-label">Registration Number</label>
                          <input class="form-control"  disabled name="example-text-input" placeholder="Registration Number..." type="text">
                            <br><label class="form-label">Address</label>
                          <input disabled class="form-control" name="example-text-input" placeholder="Address..." type="text">
                              <br><label class="form-label">Contact Number</label>
                          <input disabled class="form-control" name="example-text-input" placeholder="Contact Number..." type="text">
                        </div>

                    </div>

                  </div>
                </div>

              </form>
              <script>
                require(['jquery', 'selectize'], function ($, selectize) {
                    $(document).ready(function () {
                        $('#input-tags').selectize({
                            delimiter: ',',
                            persist: false,
                            create: function (input) {
                                return {
                                    value: input,
                                    text: input
                                }
                            }
                        });

                        $('#select-beast').selectize({});

                        $('#select-users').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });

                        $('#select-countries').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });
                    });
                });
              </script>
            </div>
            </div>
                <div class="row">
              <div class="col-12">
                <form action="./balance_sheet_payable" method="post" class="card">
                  <div class="card-header">
                    <h3 class="card-title">Society Committee</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th width="25%">First Name</th>
                          <th width="25%">Last Name</th>
                          <th width="25%">Contact Number</th>
                          <th width="25%" >Post</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="pl-0">
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td>
                          <input disabled class="form-control" type="text"></td>
                        <td>
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td class="pr-0">
                          <select  disabled class="custom-select">
                            <option value="CHAIRMAN">CHAIRMAN</option>
                            <option value="MEMBER" selected="">MEMBER</option>
                            <option value="SECRETORY">SECRETORY</option>
                            <option value="ASSISTANT_SECRETORY">ASSISTANT SECRETORY</option>
                            <option value="PRESIDENT">PRESIDENT</option>
                          </select>
                        </td>
                      </tr>
<tr>
                        <td class="pl-0">
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td>
                          <input disabled class="form-control" type="text"></td>
                        <td>
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td class="pr-0">
                          <select  disabled class="custom-select">
                            <option value="CHAIRMAN">CHAIRMAN</option>
                            <option value="MEMBER" selected="">MEMBER</option>
                            <option value="SECRETORY">SECRETORY</option>
                            <option value="ASSISTANT_SECRETORY">ASSISTANT SECRETORY</option>
                            <option value="PRESIDENT">PRESIDENT</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="pl-0">
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td>
                          <input disabled class="form-control" type="text"></td>
                        <td>
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td class="pr-0">
                          <select  disabled class="custom-select">
                            <option value="CHAIRMAN">CHAIRMAN</option>
                            <option value="MEMBER" selected="">MEMBER</option>
                            <option value="SECRETORY">SECRETORY</option>
                            <option value="ASSISTANT_SECRETORY">ASSISTANT SECRETORY</option>
                            <option value="PRESIDENT">PRESIDENT</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="pl-0">
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td>
                          <input disabled class="form-control" type="text"></td>
                        <td>
                          <input  disabled class="form-control" type="text"></td>
                        </td>
                        <td class="pr-0">
                          <select  disabled class="custom-select">
                            <option value="CHAIRMAN">CHAIRMAN</option>
                            <option value="MEMBER" selected="">MEMBER</option>
                            <option value="SECRETORY">SECRETORY</option>
                            <option value="ASSISTANT_SECRETORY">ASSISTANT SECRETORY</option>
                            <option value="PRESIDENT">PRESIDENT</option>
                          </select>
                        </td>
                      </tr>
                    </tbody></table>
                  </div>

                    </div>

                  </div>

                </div>

              </form>

            </div>

          </div>
                <div class="row">
                    <div class="col-12">
                        <form action="./balance_sheet_payable" method="post" class="card">
                            <div class="card-header">
                                <div class="row" style="width:100%;">
                                    <div class="col-6" style="margin-top:10px;">
                                        <h3 class="card-title">Society Members</h3>
                                    </div>

                                </div>
                            </div>


                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                <tr>
                                                    <th width="5%">Member Number</th>
                                                    <th width="20%">Name</th>
                                                    <th width="5%">Flat Number</th>
                                                    <th width="20%">Address</th>
                                                    <th width="10%">Contact Number</th>
                                                    <th width="5%">Shares Amount</th>
                                                    <th width="10%">Recoverable Balance</th>

                                                    <th width="5%">Taliy</th>


                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>

                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>

                                                    <td>
                                                        <div style="margin-left:10px;margin-top:10px;"><i
                                                                class="fa fa-check"></i></div>
                                                    </td>


                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>
                        <script>
                require(['jquery', 'selectize'], function ($, selectize) {
                    $(document).ready(function () {
                        $('#input-tags').selectize({
                            delimiter: ',',
                            persist: false,
                            create: function (input) {
                                return {
                                    value: input,
                                    text: input
                                }
                            }
                        });

                        $('#select-beast').selectize({});

                        $('#select-users').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });

                        $('#select-countries').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });
                    });
                });



                        </script>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <form action="./balance_sheet_receivable" method="post" class="card">
                            <div class="card-header">
                                <h3 class="card-title">Balance Sheet - Liability & Payable</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                <tr>
                                                    <th width="25%">Previous Year</th>
                                                    <th width="20%">Description</th>
                                                    <th width="25%">Current Year</th>

                                                    <th width="5%">Taily</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td>


                                                        <div class="form-group">
                                                            <select disabled name="beast" id="select-beast"
                                                                    class="form-control custom-select selectized">
                                                                <option value="1001">1001 - New Member</option>
                                                                <option value="1002">1002 - Bhandi</option>
                                                                <option value="1003">1003 - Ganesh Mandir</option>

                                                            </select>


                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input disabled class="form-control" type="text"></td>


                                                    <td>
                                                    <div style="margin-left:10px;margin-top:10px;"><i class="fa fa-check"></i></div>
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td align="center">


                                                        <div class="align-items-center"> Total</div>
                                                    </td>
                                                    <td>
                                                        <input disabled class="form-control" type="text"></td>


                                                    <td>

                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>
                        <script>
                require(['jquery', 'selectize'], function ($, selectize) {
                    $(document).ready(function () {
                        $('#input-tags').selectize({
                            delimiter: ',',
                            persist: false,
                            create: function (input) {
                                return {
                                    value: input,
                                    text: input
                                }
                            }
                        });

                        $('#select-beast').selectize({});

                        $('#select-users').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });

                        $('#select-countries').selectize({
                            render: {
                                option: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        '<span class="title">' + escape(data.text) + '</span>' +
                                        '</div>';
                                },
                                item: function (data, escape) {
                                    return '<div>' +
                                        '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                        escape(data.text) +
                                        '</div>';
                                }
                            }
                        });
                    });
                });

                        </script>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <form action="./" method="post" class="card">
                            <div class="card-header">
                                <h3 class="card-title">Balance Sheet - Asset & Receivable</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                <tr>
                                                    <th width="25%">Previous Year</th>
                                                    <th width="20%">Description</th>
                                                    <th width="25%">Current Year</th>

                                                    <th width="5%">Taily</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td>


                                                        <div class="form-group">
                                                            <select disabled name="beast" id="select-beast"
                                                                    class="form-control custom-select selectized">
                                                                <option value="1001">1001 - New Member</option>
                                                                <option value="1002">1002 - Bhandi</option>
                                                                <option value="1003">1003 - Ganesh Mandir</option>

                                                            </select>


                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input disabled class="form-control" type="text"></td>


                                                    <td>
                                                    <div style="margin-left:10px;margin-top:10px;"><i class="fa fa-check"></i></div>
                                                    </td>


                                                </tr>
<tr>
                                                    <td class="pl-0">
                                                        <input disabled class="form-control" type="text"></td>
                                                    </td>
                                                    <td align="center">


                                                       <div class="align-items-center"> Total</div>
                                                    </td>
                                                    <td>
                                                        <input disabled class="form-control" type="text"></td>


                                                    <td>

                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                            </div>
<div class="card-footer text-right">
                                <div class="d-flex">

                                    <button type="submit" class="btn btn-primary ml-auto">Register <i
                                            class="fa fa-address-book" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>




            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">First link</a></li>
                                <li><a href="#">Second link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Third link</a></li>
                                <li><a href="#">Fourth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Fifth link</a></li>
                                <li><a href="#">Sixth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Other link</a></li>
                                <li><a href="#">Last link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    Premium and Open Source dashboard template with responsive and high quality UI. For Free!
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>
                                <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source
                                code</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 <a href=".">Tabler</a>. Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>
                    All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>